#include <dt-bindings/zmk/matrix_transform.h>
#include "painid-layouts.dtsi"

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };

    kscan: kscan {
        compatible = "zmk,kscan-gpio-charlieplex";
        wakeup-source;

        gpios
            = <&pro_micro 0  GPIO_ACTIVE_HIGH>
            , <&pro_micro 1  GPIO_ACTIVE_HIGH>
            , <&pro_micro 2  GPIO_ACTIVE_HIGH>
            , <&pro_micro 3  GPIO_ACTIVE_HIGH>
            , <&pro_micro 4  GPIO_ACTIVE_HIGH>
            , <&pro_micro 5  GPIO_ACTIVE_HIGH>
            , <&pro_micro 6  GPIO_ACTIVE_HIGH>
            , <&pro_micro 7  GPIO_ACTIVE_HIGH>
            , <&pro_micro 8  GPIO_ACTIVE_HIGH>
            , <&pro_micro 9  GPIO_ACTIVE_HIGH>
            , <&pro_micro 16 GPIO_ACTIVE_HIGH>
            , <&pro_micro 14 GPIO_ACTIVE_HIGH>
            , <&pro_micro 15 GPIO_ACTIVE_HIGH>
            , <&pro_micro 18 GPIO_ACTIVE_HIGH>
            , <&pro_micro 19 GPIO_ACTIVE_HIGH>
            , <&pro_micro 20 GPIO_ACTIVE_HIGH>
            ;
    };

    default_transform: default_transform {
        compatible = "zmk,matrix-transform";
        columns = <16>;
        rows = <16>;

        map = <
            /* Row 1 - Fn: Esc F1 F2 F3 F4 F5 F6 F7 F8 F9 F10 F11 F12 PrtSc ScrLk Pause */
            RC(8,11)  RC(11,8)  RC(7,11)  RC(11,7)  RC(6,11)  RC(11,6)  RC(5,11)  RC(11,5)
            RC(4,11)  RC(11,4)  RC(1,11)  RC(11,1)  RC(0,11)  RC(11,0)  RC(2,11)  RC(11,2)

            /* Row 2 - Num: Enc2 ^ 1 2 3 4 5 6 7 8 9 0 ss acu Bspc Ins Home PgUp NumLk / * Num- */
            RC(9,12)  RC(12,9)  RC(8,12)  RC(12,8)  RC(7,12)  RC(12,7)  RC(6,12)  RC(12,6)
            RC(5,12)  RC(12,5)  RC(4,12)  RC(12,4)  RC(1,12)  RC(12,1)  RC(0,12)  RC(12,0)
            RC(10,4)  RC(3,14)  RC(3,12)  RC(12,3)  RC(3,11)  RC(11,3)

            /* Row 3 - QWERTY: Enc3 Tab Q W E R T Z U I O P Ü + Enter Del End PgDn Num7 Num8 Num9 Num+ */
            RC(2,14)  RC(13,9)  RC(8,13)  RC(13,8)  RC(7,13)  RC(13,7)  RC(6,13)  RC(13,6)
            RC(5,13)  RC(13,5)  RC(4,13)  RC(13,4)  RC(1,13)  RC(13,1)  RC(1,10)  RC(10,8)
            RC(9,13)  RC(13,2)  RC(3,13)  RC(10,2)  RC(12,2)  RC(2,13)

            /* Row 4 - Home: Enc4 Caps A S D F G H J K L Ö Ä # Num4 Num5 Num6 */
            RC(0,14)  RC(8,14)  RC(14,8)  RC(7,14)  RC(14,7)  RC(6,14)  RC(14,6)  RC(5,14)
            RC(14,5)  RC(4,14)  RC(14,4)  RC(1,14)  RC(14,1)  RC(15,1)  RC(14,0)  RC(0,13)
            RC(10,7)

            /* Row 5 - Shift: Enc5 LShift < Y X C V B N M , . - RShift Up EncBtn1 EncBtn2 Num3 NumEnter */
            RC(13,3)  RC(14,3)  RC(8,15)  RC(2,12)  RC(7,15)  RC(15,7)  RC(6,15)  RC(15,4)
            RC(5,15)  RC(15,5)  RC(4,15)  RC(7,10)  RC(1,15)  RC(9,11)  RC(0,15)  RC(15,0)
            RC(11,9)  RC(8,10)  RC(3,15)

            /* Row 6 - Bottom: Enc6 LCtrl LWin LAlt Space RAlt RWin Menu RCtrl Left Down Right Num0 Num. */
            RC(10,1)  RC(2,10)  RC(10,3)  RC(3,10)  RC(10,5)  RC(4,10)  RC(10,6)  RC(6,10)
            RC(10,9)  RC(9,10)  RC(5,10)  RC(10,0)  RC(0,10)  RC(15,8)
        >;
    };
};
